.banner {
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: -2;
}
.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.banner .banner__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  letter-spacing: 4px;
  font-size: 40px;
}
.banner .banner__breadcum {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 5px;
}
